body{
    background-image: url(baf.jpg);
    background-repeat: repeat;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: 350px;
    color: aqua;
    text-align: center;
}
.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;

}

    /* glowing hover card made by: csozi | Website: english.csozi.hu*/

.card {
    position: relative;
    width: 190px;
    height: 254px;
    background: rgba(255, 0, 179, 0.308);
    background: linear-gradient(137deg, rgba(255, 0, 179, 0.199) 0%, rgba(0, 213, 255, 0.336) 100%);
    transition: 0.3s ease;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
    border: 2px solid pink;
    backdrop-filter: blur(2px);
  }
  .mid {
    transform: scale(1.25);
  }
  
  .card::after {
    content: '';
    background-color: #18181888;
    position: absolute;
    z-index: 1;
    transition: 0.3s ease;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    border-radius: 28px;
  }
  
  .card:hover {
    filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
  }
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }

   @media screen and (max-width: 800px) {
    .container{
        flex-direction: column;
        gap: 200px;
    }
    .card{
        transform: scale(1.3);
    }
  }